# IntelliJ IDEA
*.iml
.idea/

# Maven
target/

# Mac OS
.DS_Store

# Eclipse
.classpath
.project
.settings/ 

Loohp-Limbo.jar
Loohp-Limbo-*.jar
internal_data/
logs/
permission.yml
plugins/
server.properties

